node_modules/
.npm-cache/
.electron-cache*/
.electron-dist/
dist/
out/
release/
tests/artifacts/
参考素材/
Groove/*
!Groove/Assets/
Groove/Assets/*
!Groove/Assets/AppList.targetsize-256_altform-lightunplated.png
!Groove/Assets/MissingAlbumArt.jpg
!Groove/Resources/
Groove/Resources/*
!Groove/Resources/Fonts/
Groove/Resources/Fonts/*
!Groove/Resources/Fonts/SegMVR2.ttf
*.log
